.elm-calendar--container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.elm-calendar--calendar {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
}

.elm-calendar--toolbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.elm-calendar--paginators {
  position: absolute;
}

.elm-calendar--time-spans {
  position: absolute;
  right: 0;
}

.elm-calendar--month-title {
  align-self: center;
}

.elm-calendar--month-day-header {
  max-width: 14.285%;
  flex-basis: 14.285%;
  text-align: center;
}

.elm-calendar--day-header {}

.elm-calendar--month-row {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #DDD;
  height: 100%;
  position: relative;
}

.elm-calendar--date-cell {
  padding-right: 5px;
  text-align: right;
  max-width: 14.285%;
  flex-basis: 14.285%;
}

.elm-calendar--month-row-background {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.elm-calendar--row {
  display: flex;
}

.elm-calendar--month-week {
  position: relative;
  z-index: 4;
}

.elm-calendar--button {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
}

.elm-calendar--time-gutter {
  min-width: 70px;
}

.elm-calendar--time-slot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 70px;
  border-left: 1px solid #d7d7d7;
}

.elm-calendar--time-slot {
  flex: 1 0 0;
}

.elm-calendar--column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.elm-calendar--week {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #DDD;
}

.elm-calendar--week-content {
  display: flex;
  border-top: 2px solid #DDD;
  height: 600px;
  overflow-y: auto;
}

.elm-calendar--month {
  display: flex;
  flex-direction: column;
  height: 800px;
  position: relative;
  border: 1px solid #DDD;
}

.elm-calendar--cell {
  max-width: 14.285%;
  flex-basis: 14.285%;
  border-left: 1px solid #ddd;
}

.elm-calendar--week-header {
  display: flex;
  flex-direction: column;
}

.elm-calendar--dates {
  display: flex;
  border-bottom: 1px solid #f7f7f7;
  flex-flow: row nowrap;
  align-content: stretch;
}

.elm-calendar--date-header {
  padding: 0 5px;
  text-align: center;
  min-width: 109px;
  border-left: 1px solid #f7f7f7;
}

.elm-calendar--date {
  color: black;
  text-decoration: none;
}

.elm-calendar--all-day {
  height: 48px;
}

.elm-calendar--all-day-cell {
  display: flex;
  flex-flow: nowrap;
}

.elm-calendar--day-slot {
  border-bottom: 1px solid #f7f7f7;
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
}

.elm-calendar--day {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.elm-calendar--agenda {
  border: 1px solid #DDD;
  width: 100%;
}

.elm-calendar--agenda-header {
  border-bottom: 1px solid #DDD;
}

.elm-calendar--agenda-tbody {
  border: 1px solid #DDD;
}

.elm-calendar--header-cell {
  text-align: left;
  padding: 3px 5px;
  border-bottom: 1px solid #DDD;
}

.elm-calendar--agenda-day {
  border-top: 1px solid #d7d7d7;
}

.elm-calendar--agenda-date-cell {
  vertical-align: top;
  padding: 0 5px;
}

.elm-calendar--agenda-cell {
  padding: 0 5px;
  border-left: 1px solid #DDD;
}

.elm-calendar--month-events {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 75px;
  overflow-y: hidden;
}

.elm-calendar--event-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elm-calendar--event {
  padding: 2px 5px;
  background-color: #5fb4ca;
  color: white;
  cursor: pointer;
  user-select: none;
}

.elm-calendar--month-starts-and-ends {
  border-radius: 5px;
}

.elm-calendar--month-continues-after {
  border-radius: 0 0 5px 5px;
}

.elm-calendar--month-continues-prior {
  border-radius: 5px 5px 0 0;
}

.elm-calendar--day-content {
  display: flex;
}

.elm-calendar--time-gutter-header {
  min-width: 70px;
}

.elm-calendar--time-slot-text {
  font-size: 14px;
}

.elm-calendar--hour-slot {
  padding: 0 5px;
  flex: 1 0 0;
}

.elm-calendar--all-day-text {
  padding: 0 5px;
  min-width: 70px;
}

.elm-calendar--agenda-times {}
